

<div>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/tareas']" [routerLinkActive]="['activado']">Tasks</a>
          </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/proyectos']" [routerLinkActive]="['activado']">Proyects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/perfil']" [routerLinkActive]="['activado']">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/calendario']" [routerLinkActive]="['activado']">Calendar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" [routerLink]="['/principal']" [routerLinkActive]="['activado']">LogOut</a>
        </li>
      </ul>
</div>

<div class="form-group" class="container p-4">
    <form #formLogged="ngForm" (ngSubmit)="onSubmit() ; formLogged.reset()">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Nueva Tarea</label>
            <div class="col-sm-10">
              <input type="text" name="nombreTarea" #nombreTarea="ngModel" [(ngModel)]="logged.nombreTarea" class="form-control"  placeholder="New Task" required>
              <span *ngIf="nombreTarea.touched && !nombreTarea.valid" style="color: red"> El nombre de la TAREA es incorrecto o vacio.</span>
          </div>
         
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Proyecto</label>
              <div class="col-sm-10">
                <input type="text" name="proyecto" #proyecto="ngModel" [(ngModel)]="logged.proyecto" class="form-control" placeholder="New Proyet" required>
                <span *ngIf="proyecto.touched && !proyecto.valid" style="color: red"> Las caracteristicas del PROYECTO son incorrectas o vacias.</span>
              </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Fecha Limite</label>
            <div class="col-sm-10">
              <input type="date" name="fechaLimite" #fechaLimite="ngModel" [(ngModel)]="logged.fechaLimite" class="form-control"  placeholder="Deadline" required >
              <span *ngIf="fechaLimite.touched && !fechaLimite.valid" style="color: red"> La fecha indiada es erronea.</span>
            </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Comentarios</label>
            <div class="col-sm-10">
              <input type="text" name="comentarios" #comentarios="ngModel" [(ngModel)]="logged.comentarios" class="form-control" class="form-control"  placeholder="Commentary">
            </div>
        </div>
    <input type="submit" value="Agregar Tarea" [disabled]="!formLogged.form.valid">      
             
    </form>
  </div>

