<div class="row">
  <div class="col-12">
      <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModalCenter">Nueva tarea</button>
  </div>
</div>

<div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <logged></logged>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
</div>


<div class="container">
    <h3>LISTADO DE TAREAS</h3>
  
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">NOMBRE TAREA</th>
                <th scope="col">PROYECTO</th>
                <th scope="col">FECHA</th>
                <th scope="col">COMENTARIOS</th>
                <th scope="col">ELIMINAR</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let logged of loggeds; let i = index">
                <td scope="row">{{i+1}}</td>
                <td scope="row">{{logged.nombreTarea}}</td>
                <td scope="row">{{logged.proyecto}}</td>
                <td scope="row">{{logged.fechaLimite}}</td>
                <td scope="row">{{logged.comentarios}}</td>
                <td scope="row">
                  <button (click)="eliminarTarea(i)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
  
 